* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
}

/* MAIN PAGE */
#main-page {
  position: relative;
  background: url(img/default.jpg) no-repeat center center fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

#main-page::after {
  position: absolute;
  content: '';
  background: rgba(0,0,0, 0.4);
  top: 0;
	left: 0; 
	width: 100%; 
	height: 100%;
	z-index: 2;
}

/* NOTIFICATION */
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
}

/* WEATHER SECTION */
#weather-section {
  position: relative;
  z-index: 5;
  color: white;
  margin-bottom: 10vh;
}

/* ICON */
.weather-icon {
  z-index: 5;
  display: flex;
  justify-content: center;
}

.weather-icon img{
  width: 4vw;
  text-align: center;
}

/* TEMPERATURE */
.temperature-value {
  z-index: 5;
  font-size: 2.5rem;
  text-align: center;
}

.temperature-description {
  font-size: 2.5rem;
  text-align: center;
}

/* LOCATION */
.location {
  font-size: 1.5rem;
  text-align: center;
}

/* TIME SECTION */
#time-section {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 12vh;
  z-index: 5;
}

#time {
  font-size: 10rem;
  text-align: center;
}

/* GREETING SECTION */
#greeting-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh;
  color: white;
  text-align: center;
  z-index: 5;
} 

#greeting {
  font-size: 2.5rem;
}




